.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 64px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gutter);
}

.item {
  display: flex;
}

.item > a {
  flex: 1;
}

.item[hidden] {
  display: none;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .filters {
    margin-bottom: 40px;
  }
}
